{% extends "action.twig" %}


{% block content %}
<tr>
	<td>
		<h1>Hi</h1>
	</td>
</tr>
<tr>
	<td class="content-block">
		<h3>Welcom in basic email template</h3>
	</td>
</tr>
<tr>
	<td class="content-block">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
	</td>
</tr>
<tr>
	<td class="content-block">
		We may need to send you critical information about our service and it is important that we have an accurate email address.
	</td>
</tr>
<tr>
	<td class="content-block aligncenter">
		<a href="#" class="btn-primary">Confirm email address</a>
	</td>
</tr>
{% endblock %}
{% block footer %}
Follow <a href="#">@Company</a> on Twitter.
{% endblock %}
